---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-white" >Hey, Soy Diego <Badge>Disponible para trabajar</Badge> </h1>
		<h2>
			+1 año de experiencia. Desarrollador Web. De Monterrey, Nuevo León.
			Especializado en crear aplicaciones web 
		</h2>

		<ul>

		</ul>
	</main>
</Layout>